.buttonBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 30px;
}
.nodeIndexInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 8px; /* Larger font size for better readability */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* subtle inset shadow for depth */
    transition: border-color 0.3s, box-shadow 0.3s; /* smooth transition for focus effects */
}

.nodeIndexInput:focus {
    outline: none;
    border-color: #007bff; /* a brighter border color when focused */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 123, 255, 0.5); /* glow effect */
}

.nodeIndexInput::placeholder {
    color: #aaa; /* a lighter color for placeholder text */
    font-style: italic;
}


.cyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#cy {
    width: 50%;
    height: 70vh;
}
.title {
    text-align: center; /* Center the text horizontally */
}

.title p {
    font-size: 50px; /* Adjust the font size as needed */
}

.description {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 90%;
}

.fullParent {
    display: flex;
    width: 100%;
}

.halfChild {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

