.tableStyle {
    border: 1px solid rgb(20, 24, 27);
    borderRadius: 4px;
    width: 100%;
    margin: 0 auto;
}

.thStyle {
    background: rgb(20, 24, 27);
    padding: 8px;
    textAlign: left;
}

.tdStyle {
    padding: 8px;
    borderBottom: 1px solid rgb(20, 24, 27);
}
