@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(var(--secondary-rgb));
  --tertiary: rgb(var(--tertiary-rgb));
  --tertiary-alt: rgb(var(--tertiary-alt-rgb));
  --primary-rgb: 255, 255, 255;
  --secondary-rgb: 0, 0, 0;
  --tertiary-rgb: 86, 86, 86;
  --tertiary-alt-rgb: 110, 110, 110;

  --primary-dark: rgb(var(--primary-dark-rgb));
  --secondary-dark: rgb(var(--secondary-dark-rgb));
  --tertiary-dark: rgb(var(--tertiary-dark-rgb));
  --tertiary-alt-dark: rgb(var(--tertiary-alt-dark-rgb));
  --primary-dark-rgb: 20, 24, 27;
  --secondary-dark-rgb: 233, 233, 233;
  --tertiary-dark-rgb: 114, 114, 114;
  --tertiary-alt-dark-rgb: 65, 65, 65;

  --primary-light: rgb(var(--primary-light-rgb));
  --secondary-light: rgb(var(--secondary-light-rgb));
  --tertiary-light: rgb(var(--tertiary-light-rgb));
  --tertiary-alt-light: rgb(var(--tertiary-alt-light-rgb));
  --primary-light-rgb: 255, 255, 255;
  --secondary-light-rgb: 0, 0, 0;
  --tertiary-light-rgb: 86, 86, 86;
  --tertiary-alt-light-rgb: 110, 110, 110;

  --accent: rgb(var(--accent-rgb));
  --accent-darker: rgb(var(--accent-darker-rgb));
  --accent-rgb: 0, 220, 37;
  --accent-darker-rgb: 0, 172, 29;
  --danger: rgb(var(--danger-rgb));
  --danger-rgb: 255, 66, 66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.buttonBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 30px;
}
